<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Shortyy.click – fast, free, and easy URL shortening. Create and share compact links in seconds.">
  <title>Quick & Easy URL Shortener | Shortyy.click</title>  
  <script type="module" crossorigin src="{{ url_for('static', filename='assets/index-imm7Baq4.js') }}"></script>
  <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='assets/index-IJ9jEFSn.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
</head>

<body>
  <div id="root"></div>
</body>

</html>
